.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
.settings/*
/indexes/*
/target/generated-sources/*
/target/jeesite/*
/target/maven-archiver/*
/target/generated-test-sources/*
/target/test-classes/*
/target/jeesite.war
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*

/target/
